* {
    padding: 0;
    margin: 0;

}

.container_p1_heading_and_clouds_animation {
    height: 90vh;
    z-index: 100;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

/* clouds left */
.container_h1_p1_Page_1 {
    height: 90vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.heading_pag1 {
    width: 70vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_1h1 {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: #FFFFFF;

}

.page_1h1:hover {
    text-shadow: 1px 1px 30px black;
}



.paragraph_page_1 {
    width: 70vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 70px;
}

.paragraph_pag_1_p1 {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 10px;
    color: #FFFFFF;


}

.container_left_p1_ {
    height: 90vh;
    width: 10vw;
}

.container_clouds1 {
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-image: url(/Ass1P1/clouds.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    animation-name: movie_clouds_left_to_right;
    animation-timing-function: ease-in-out;
    animation-duration: 20s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    z-index: 1;
}

@keyframes movie_clouds_left_to_right {
    0% {
        transform: translateX(-700px);
    }

    100% {
        transform: translateX(1600px);
    }
}


.container_right_p1 {
    height: 90vh;
    width: 10vw;
}

.container_clouds2 {
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    background-image: url(/Ass1P1/clouds2.png);
    position: relative;
    top: 400px;
    background-position: center;
    background-size: 500px;
    background-repeat: no-repeat;
    animation-name: movie_clouds_right_to_left;
    animation-timing-function: ease-in-out;
    animation-duration: 20s;
    animation-delay: .400s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

@keyframes movie_clouds_right_to_left {
    0% {
        transform: translateX(1600px);
    }

    100% {
        transform: translateX(-2000px);
    }
}

.container_clouds3 {
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    background-image: url(/Ass1P1/clouds.png);
    position: relative;
    bottom: 90px;
    background-position: center;
    background-size: 500px;
    background-repeat: no-repeat;
    animation-name: movie_clouds_right_to_left;
    animation-timing-function: ease-in-out;
    animation-duration: 20s;
    animation-delay: .400s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

@keyframes movie_clouds_right_to_left {
    0% {
        transform: translateX(1600px);
    }

    100% {
        transform: translateX(-2000px);
    }
}














.container_page_1_main {
    height: 190vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #332A2A;
    

}

.container_p1_sub {
    height: 100vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_down {
    height: 100vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}



.container_mounatines {
    height: 100vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-image: url(/Ass1P1/mount.png);
    background-position: top;
    background-size: cover;
    flex-direction: column;

}

.container_trees_ {
    height: 100vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.container_left_tree {
    height: 100vh;
    width: 40vw;
    position: relative;
    right: 570px;
    top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background-image: url(/Ass1P1/left.png);
    background-position: center;
    background-size: cover;


}

.container_right_tree {
    height: 70vh;
    width: 40vw;
    position: relative;
    left: 1300px;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-image: url(/Ass1P1/left.png);
    background-position: center;
    background-size: cover;

}

.container_left_gates {
    height: 160vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
    background-image: url(/Ass1P1/leftgate.png);
    background-position: center;
    background-size: 600px;
    background-repeat: no-repeat;


}

.container_right_gates {
    height: 160vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-image: url(/Ass1P1/rightgate.png);
    background-position: center;
    position: relative;
    right: 1500px;
    background-size: 630px;
    background-repeat: no-repeat;
}

.container_center_gate {
    height: 160vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-image: url(/Ass1P1/centerinner.png);
    background-position: center;
    position: relative;
    left: 790px;
    background-size: 530px;
    background-repeat: no-repeat;
}

.container_gate_big {
    height: 160vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-image: url(/Ass1P1/centergate.png);
    background-position: center;
    position: relative;
    right: 0px;
    background-size: 830px;
    background-repeat: no-repeat;
}

.container_larger_gate {
    height: 160vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-image: url(/Ass1P1/centergate.png);
    background-position: center;
    position: relative;
    bottom: 100px;
    right: 0px;
    background-size: 930px;
    background-repeat: no-repeat;

}




/* page - 2  */
.container_page_2 {
    height: 240vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1C1C1C;



}

.container_heading_pag_2 {
    width: 70vw;
    height: 20vh;
    position: sticky;
    top: 0px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    z-index: 1;

}

.container_down_moun_main {
    height: 150vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container_mon_1_page_2 {
    height: 90vh;
    width: 10vw;
    position: relative;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
}

.container_top_part_p2_1 {
    height: 40vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-image: url(/Ass2P2/image\ \(6\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130px;
    position: relative;
    top: 20px;
}

.container_down_part_p2_1 {
    height: 70vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-image: url(/Ass2P2/image\ \(12\)\ 1.png);
    background-blend-mode: color-dodge;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 340px;
    position: relative;
    bottom: 20px;
    right: 10px;
}

.gaeding_pg2_1 {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    letter-spacing: 10px;
    color: #D6C1C1;
    z-index: 1000;

}

.gaeding_pg2_1:hover {
    text-shadow: 1px 1px 10px black;
}

.gaeding_pg2_2 {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    letter-spacing: 10px;
    color: #D6C1C1;
    z-index: 1000;

}





.container_mon_2_page_2 {
    margin: 50px;
    height: 150vh;
    width: 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
}

.container_top_part_p2_2 {
    height: 50vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-image: url(/Ass2P2/image\ \(7\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 230px;
    position: relative;
    bottom: 50px;
}

.container_down_part_p2_2 {
    height: 100vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-image: url(/Ass2P2/image\ \(12\)\ 1.png);
    background-blend-mode: color-dodge;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 390px;
    position: relative;
    bottom: 210px;
    left: 2px;
}

.gaeding_pg2_1 {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    letter-spacing: 10px;
    color: #D6C1C1;

}



.container_mon_3_page_2 {
    height: 90vh;
    width: 10vw;
    position: relative;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    position: relative;
    left: 120px;
}

.container_top_part_p2_3 {
    height: 40vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-image: url(/Ass2P2/image\ \(11\)\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130px;
    position: relative;
    top: 20px;
}

.container_down_part_p2_3 {
    height: 70vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-image: url(/Ass2P2/image\ \(12\)\ 1.png);
    background-blend-mode: color-dodge;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 340px;
    position: relative;
    bottom: 20px;
    right: 5px;

}

.gaeding_pg2_1 {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    letter-spacing: 10px;
    color: #D6C1C1;

}




.container_clouds_p2 {
    overflow: hidden;
    height: 90vh;
    width: 99.1vw;
    z-index: 100;
    position: relative;
    bottom: 10px;
    flex-direction: row;
}

.container_clouds_p2_clouds_1 {
    height: 80vh;
    width: 99.1vw;
    background-image: url(/Ass2P2/one-fog.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    animation-name: Move_Images_p2;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 30s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes Move_Images_p2 {
    0% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(-700px);
    }
}

.container_clouds_p2_clouds_2 {
    position: relative;
    left: 1005px;
    height: 100vh;
    width: 99.1vw;
    background-image: url(/Ass2P2/two-fog.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


/* leaf */

.leaf_falling_vd {
    background-color: transparent;
    height: 100vh;
    width: 90vw;
}

/* heading leaf _ 1  */
.heading_leaf_right_p2_1 {
    height: 30vh;
    width: 55vw;
    background-image: url(/Ass2P2/right_small_leaf_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 700px;
    position: relative;
    bottom: 330px;
}

.heading_leaf_left_p2_2 {
    height: 30vh;
    width: 27vw;
    background-image: url(/Ass2P2/right_heading_leaf.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 700px;
    position: relative;
    left: 1497px;
    bottom: 619.5px;
    overflow: hidden;
}




/* leaf */
.container_leafs {
    height: 20vh;
    width: 40vw;
    z-index: 1;
    position: relative;
    right: 760px;
    top: 400px;

}

.container_leaf_2_left_ {
    height: 20vh;
    width: 21vw;
    z-index: 1;
    position: relative;
    left: 160px;
    background-image: url(/Ass2P2/right_leaf.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px;
}

.container_leaf_2_right_ {
    height: 20vh;
    width: 21vw;
    z-index: 1;
    position: relative;
    left: 1599px;
    top: 100px;
    background-image: url(/Ass2P2/left_leaf_.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px;
}







/* slide heading - 1 */
.container_slide_heading {
    height: 100vh;
    width: 99.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    
}





.container_sub_slideheading {
    transform: translate(100%);
    height: 70vh;
    width: 150vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}

.container_first_part_heading {
    height: 50vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_slide_h1_1 {
    font-size: 10vw;
    text-transform: uppercase;
    font-family: "Almendra Display", serif;
    color: black;
    font-family: "Bigelow Rules", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 18px;
}






.container_second_part_heading {
    margin: 10px;
    position: relative;
    left: 100px;
}

.container_slide_h1_2 {
    font-size: 10vw;
    text-transform: uppercase;
    font-family: "Almendra Display", serif;
    color: black;
    font-family: "Bigelow Rules", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 18px;
}




.container_thired_part_heading {
    margin: 10px;
    position: relative;
    right: 300px;
}

.container_slide_h1_3 {
    font-size: 10vw;
    text-transform: uppercase;
    font-family: "Almendra Display", serif;
    color: black;
    font-family: "Bigelow Rules", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 18px;
    animation: container_slide_h1_3 10s ease-in-out 1s infinite;
}

@keyframes container_slide_h1_2 {
    0% {
        color: black;
    }

    100% {
        color: rgb(255, 255, 255);
    }
}


.Images_statue {
    position: relative;
    right: 130px;
    height: 90vh;
    width: 50vw;
    animation: heading_slide_animation_ 20s ease-in-out 1s infinite;
}

@keyframes heading_slide_animation_ {
    0% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}







/* page _ 3  */

.container_page_3 {
    height: 200vh;
    background-color: #DCF2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_heading_page_3_ {
    margin: 10px;
    height: 20vh;
    width: 80vw;
    z-index: 10;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heading_page_3_ {
    font-size: 100px;
    letter-spacing: 18px;
    font-family: "Castoro Titling", serif;
    font-weight: 400;
    font-style: normal;
    color: #252C2F;

}


.container_main_page_3_content {
    margin: 10px;
    height: 180vh;
    width: 99.1vw;
    display: flex;
    justify-content: center;
    align-items: center;

}



/* content left */
.container_left_content_main_page_3_ {
    margin: 10px;
    height: 180vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container_content_1_left_page_3 {
    width: 40vw;
    height: 20vh;
    position: relative;
    bottom: 600px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.content_1_page_3 {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    text-align: center;
}

.container_content_2_left_page_3 {
    width: 40vw;
    height: 20vh;
    position: relative;
    top: 100px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.content_2_page_3 {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    text-align: center;
}




/* center statues */
.container_page_3_center_statue {
    margin: 10px;
    height: 182vh;
    width: 30vw;
    background-image: url(/Ass3P3/image\ \(24\)\ 1.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1500px;
    z-index: 1000;

}



/* content right */
.container_right_content_main_page_3_ {
    margin: 10px;
    height: 180vh;
    width: 30vw;
}

.container_content_1_right_page_3 {
    width: 40vw;
    height: 20vh;
    position: relative;
    top: 450px;
    right: 120px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.content_3_page_3 {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    text-align: center;
}


.container_content_2_right_page_3 {
    width: 32vw;
    height: 20vh;
    position: relative;
    top: 1150px;
    left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.content_4_page_3 {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    text-align: center;
}


















/* page _ 4 */

.container_page_4 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
background: #000;
}
.container_p_4_sub{
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container_p_4_heading_{
    z-index: 1;    
    position: relative;
    top: 300px;
    margin: 5px;
    border: 1px solid black;
    height: 15vh; 
    width:  70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .200s;
    transition-timing-function: ease-in-out;
    transition-delay: .100s;
}
.Main_p_4H{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 100px;
    letter-spacing: 30px;
    font-family: "Aboreto", serif;
    font-weight: 400;
    font-style: normal;

    
  
}
.container_p_4_heading_:hover {
    z-index: 10000;
    text-shadow: 1px 1px 10px white;
}
.container_p_4_Shadow_{
    z-index: 1;
    border: 1px solid white;
    position: relative;
    top: 290px;
    margin: 5px;
    border: 1px solid black;
    height: 15vh; 
    width:  80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/ass4p4/King\ Louis\ XIV.png);
    background-repeat: no-repeat;
    background-size: 1105px;
    background-position: center;
 
}
.container_p_4_bgimg_{
    z-index: 100;
    position: relative;
    bottom: 100px;
    margin: 5px;
    border: 1px solid black;
    height: 105vh; 
    width:  50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/ass4p4/1KingImage.png);
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: bottom;
}
.container_new_{
    border: 1px solid rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    

    
}
.container_main{
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    

}
.container_Ancient_1{
        z-index: 0;
        height: 100px;
        width: 80vw;
        margin: 10px;
        display : flex ; 
        align-items: center;
        justify-content: center;
        font-size: 80px;
        letter-spacing: 1px;
        text-transform: uppercase;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    opacity: 100%;
    animation: op1 14s infinite;
        animation-duration: 14s;
        color: #FFFFFF;
        position: relative;
        top: 300px;
    }
@keyframes op1 {
    100% {
        opacity: 100%;
         color: #FFFFFF;
      
    }   
}

.container_Ancient_2{
    opacity: 90px;
     z-index: 0;
    height: 100px;
    width: 80vw;
    margin: 10px;
    display : flex ; 
    align-items: center;
    justify-content: center;
     font-size: 80px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
   color: #DED1D1;
  animation: op2 2s infinite;
    animation-duration: 2s;
     position: relative;
    top: 300px;
}
@keyframes op2 {
    90% {
        opacity: 90%;
        
      
    }   
}
.container_Ancient_3{
    z-index: 0;
    height : 100px ; 
    width: 80vw;
    margin: 10px;
    display : flex ; 
    align-items: center;
    justify-content: center;
    font-size: 80px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  color: #988585;
   animation: op3 4s infinite;
    animation-duration: 4s;
     position: relative;
    top: 300px;
}
@keyframes op3 {
    70% {
        opacity: 70%;
        
      
    }   
}
.container_Ancient_4{
    z-index: 0;
    height : 100px ; 
    width: 80vw;
    margin: 10px;
    display : flex ; 
    align-items: center;
    justify-content: center;
     font-size: 80px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  color: #5E5656;
   animation: op4 8s infinite;
    animation-duration: 8s;
     position: relative;
    bottom: 300px;
}
@keyframes op4 {
    50% {
        opacity: 50%;
      
    }   
}
.container_Ancient_5{
    z-index: 0;
    height : 100px ; 
    width: 80vw;
    margin: 10px;
    display : flex ; 
    align-items: center;
    justify-content: center;
    font-size: 80px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  color: #504B4B;
   animation: op5 8s infinite;
    animation-duration: 10s;
     position: relative;
    bottom: 300px;
}
@keyframes op5 {
    60% {
        opacity: 60%;
      
    }   
}
.container_Ancient_6{
    z-index: 0;
        height : 100px ; 
        width: 80vw;
        margin: 10px;
        display : flex ; 
        align-items: center;
        justify-content: center;
        font-size: 80px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    color: #5A5454;
    animation: op6 10s infinite;
        animation-duration: 12s;
        position: relative;
        bottom: 300px;
        opacity: 50%;
}
@keyframes op6 {
    50% {
        opacity: 50%;
         
      
    }   
}
.container_Ancient_7{
    
    z-index: 0;
    height : 100px ; 
    width: 80vw;
    margin: 10px;
    display : flex ; 
    align-items: center;
    justify-content: center;
    font-size: 80px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    color: #504B4B;
    opacity: 1px;
    animation: op7 12s infinite;
        animation-duration: 14s;
        position: relative;
        bottom: 300px;
        opacity: 30%;
}
@keyframes op7 {
    30% {
        opacity: 30%;
        
      
    }   
}

/* this image  */

.ancient-image{
    top: 50px;
    height: 1000px ;

    width: 500px;
    z-index: 10;
    position: relative;
    
    
    
}


/* Borken Heart */
.container_brokenHeart_main{
    height: 200vh;
    background: #1D1D1D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_heading_Borken_Heart{
    height: 100px;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #565050;
    font-size: 40px;
    text-transform: uppercase;
     font-family: "Julius Sans One", sans-serif;
    z-index: 0;
    
}
.container_img{
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container_Broken_Upper_img{
     height: 70vh;
    width: 30vw;
    position: relative;
    bottom: 70px;
    left: 370px;
     background-image: url(/AncientAthletics/upperimage.png);
    background-position: center;
    background-size: 480px;
    background-repeat: no-repeat;
}
.container_Broken_down_img{
     height: 60vh;
    width: 30vw;
    position: relative;
    top:  30px;
    right: 240px;
    background-image: url(/AncientAthletics/downimage.png);
    background-position: center;
    background-size: 400px;
    background-repeat: no-repeat;
}
.container_para_1{
    margin: 10px;
        height: 100px;
    width: 30vw;
    position: relative;
    bottom: 700px;
    right: 600px;
}
.container_para_2{
    margin: 10px;
        height: 100px;
    width: 30vw;
    position: relative;
    bottom: 500px;
    left: 600px;
}
.container_para_3{
    margin: 10px;
        height: 100px;
    width: 30vw;
    position: relative;
    bottom: 400px;
    right: 600px;
}
.container_para_4{
     margin: 10px;
        height: 100px;
    width: 30vw;
    position: relative;
    bottom: 300px;
    left: 600px;
}
._co_para_ant_1{
     display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
     text-transform: uppercase;
     font-family: "Julius Sans One", sans-serif;
     position: relative;
}
._co_para_ant_2{
     display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
     text-transform: uppercase;
     font-family: "Julius Sans One", sans-serif;
     position: relative;
}
._co_para_ant_3{
     display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
     text-transform: uppercase;
     font-family: "Julius Sans One", sans-serif;
     position: relative;
}
._co_para_ant_4{
     display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
     text-transform: uppercase;
     font-family: "Julius Sans One", sans-serif;
     position: relative;
}

/* right images */
.container_paragraph_1{
    margin: 10px;
        height: 20vh;
    width: 70vw;
    border: 1px solid wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
     font-family: "Julius Sans One", sans-serif;
     position: relative;
     bottom: 100px;

}
.container_bottom_images{
    height: 60vh;
    width: 70vw;
    border: 1px solid wheat;
}
